# Visual Studio / .NET
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build outputs
bin/
obj/

# NuGet
*.nupkg
packages/
!**/packages/build/

# Publish output
app.publish/
publish/
PublishProfiles/

# OS
Thumbs.db
.DS_Store

# Logs
*.log

# Temp files
*.tmp
*.temp
